<ion-header>
  <ion-toolbar>
    <ion-title>>詳細</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-header collapse="condense">
    <ion-toolbar>
    <ion-title>詳細</ion-title>
    </ion-toolbar>
</ion-header>

<h1>user</h1>
<mat-grid-list cols="4" rowHeight="40px">
    <mat-grid-tile [style.background]="'lightblue'" [colspan]="1">ID</mat-grid-tile>
    <mat-grid-tile [style.background]="'lightblue'" [colspan]="3">{{user.id}}</mat-grid-tile>
    <mat-grid-tile [style.background]="'gray'" [colspan]="1">NAME</mat-grid-tile>
    <mat-grid-tile [style.background]="'gray'" [colspan]="3">{{user.name}}</mat-grid-tile>
    <mat-grid-tile [style.background]="'lightblue'" [colspan]="1">EMAIL</mat-grid-tile>
    <mat-grid-tile [style.background]="'lightblue'" [colspan]="3">{{user.email}}</mat-grid-tile>
</mat-grid-list>

</ion-content>
